<% content_for :title do %>
About
<% end %>

<h1>
About
</h1>
<h2>
	"All About Cats"
</h2>
<h3>Did you know?
</h3>

<nav>
	<ul>
		<li>On average, cats spend 2/3 of every day sleeping. That means a nine-year-old cat has been awake for only three years of its life</li>
		<li>Cats are cute. No arguments there</li>
		<li>The technical term for a cat’s hairball is a “bezoar.”</li>
		<li>Cats are still cute.</li>
		<li>Cats make about 100 different sounds. Dogs make only about 10.</li>
	</ul>
</nav>
