<% content_for :title do %>
About
<% end %>

<h1>
About
</h1>
<p>
	This is an about page.
</p>
<p> 
	This website is built by mariko
</p>
<p>
	I don't know what else to say
</p>
<p>
	okay...
</p>
<p>
	I'll share my <u>favourite</u> quote
</p>
<p><i>
	"Come quickly! I'm tasting the stars!" - Dom Perignon
</i>
</p>
<p>
	That is what Dom Perignon first said when he created champagne.
</p>