<%= content_for :title do %>
Contact
<% end %>

<h1>Contact
</h1>

<p>For further information about one of the cutest animals in the world (other than pandas and puppies),
</p>
<p>do not hesitate to send me a postcard and I will get back to you as soon as I can.
</p>
<p>POSTCARDS <strong><u>ONLY</u>!</strong>
</p>
<p>Thank you very much! :D
</p>


