<div class="row">
	<aside class="span4">
		<section>
			<img src="<%= "http://www.gravatar.com/avatar/" + Digest::MD5::hexdigest(@user.email) + ".png"%>">
			<h1>
				<%= @user.name %>
			</h1>
		</section>
	</aside>

	<div class="span8">
		<ul class="tweets"> 
			<% @tweets.each do |tweet| %>
			<li>
			<span class="content"><%= tweet.content %></span>
			<span class="timestamp"> 
			Posted <%= time_ago_in_words(tweet.created_at) %> ago. 
			</span>
			</li>
			<% end %>
		</ul>
	</div>
</div>
